<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="company" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\알리콘(로켓펀치)-기업정보 - 기업정보.csv"/>
		<add key="service" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\알리콘(로켓펀치)-서비스제품정보.csv"/>
		<add key="job" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\알리콘(로켓펀치)-채용정보.csv"/>
		<add key="fullIntro" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\fullIntroduce.txt"/>
		<add key="limitIntro" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\limitIntroduce.txt"/>
		<add key="workingDir" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles"/>
    <add key="techCategory" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\TechCategory.csv"/>
    <add key="techNameList" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\TechList.txt"/>
		<add key="techNameS" value="D:\\공모전\채용정보빅데이터챌린지\datasetFiles\\TechName.csv"/>

	</appSettings>
</configuration>